<div class="products">
  <h1>WishWell</h1>
  <h2>Saved Products</h2>
  <app-fetch-data></app-fetch-data>
  <form>
    <label for="link">Product Link: </label>
    <input type="url" name="link" placeholder="url" [(ngModel)]="url" required><br/>
    <label for="product">Product Name: </label>
    <input type="text" name="product" placeholder="Product" [(ngModel)]="name" required><br/>
    <label for="price">Price: $</label>
    <input type="number" name="price" placeholder="Price" [(ngModel)]="price" required><br/>
    <button type="button" (click)="newProduct()">Add Product</button>
  </form>
</div>
